{% extends 'board/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load rest_framework %}
    {% block title %}Detail{% endblock %}


{% block content %}

    {% for post in posts %}
        {% if post.op == True %}
            <div id="post">
            {% if post.image %}
                        <img src="{{ post.image.url }}">
                    {% endif %}
            <p style="color: aqua"> {{ post.title }}<br> {% if user.is_superuser %}
                    {{ post.ip }}
                    <a href="{% url 'delete_post' board_code=board_code post_id=post.id %}">
                        Delete
                        </a>

                    {% endif %}
            {{ post.text }}<br><br><br><br><br>
            </p>
            {% else %}
                <p>{{ post.title }} {% if user.is_superuser %}
                    {{ post.ip }}
                    <a href="{% url 'delete_post' board_code=board_code post_id=post.id %}">
                        Delete
                        </a>



                    {% endif %}
                {% if post.image %}
                        <img src="{{ post.image.url }}">
                    {% endif %}
                {{ post.id }}</p><br>
                <p>{{ post.text }}</p><br><br>
        {% endif %}
    {% endfor %}
    </div>



<form action="{% url 'api_detail' %}" method="POST">
    {% csrf_token %}
    {% render_form serializer %}
    <input type="submit" value="Save">
</form>
{% endblock %}